flows.json
[{"id":"f913bd83.2d754","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7433e103.7c17c","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"d7df1e88.0b716","type":"ui_group","z":"","name":"Registration Form","tab":"7433e103.7c17c","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd74915d.2534f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"707f55a3.e80eac","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"95540957.e616b8","type":"ui_group","z":"","name":"Login Form","tab":"707f55a3.e80eac","order":1,"disp":true,"width":"6","collapse":false},{"id":"326ccc1e.e61d94","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"ef4e1321.aceff","type":"ui_group","z":"","name":"Bot","tab":"326ccc1e.e61d94","order":1,"disp":true,"width":"6","collapse":false},{"id":"d5dbc07a.a3e72","type":"ui_form","z":"f913bd83.2d754","name":"","label":"","group":"d7df1e88.0b716","order":0,"width":0,"height":0,"options":[{"label":"Enter your Name:","value":"name","type":"text","required":true,"rows":null},{"label":"Enter your  Email:","value":"email","type":"email","required":true,"rows":null},{"label":"Enter your Password:","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":80,"wires":[["94c61b91.88c228","34d12550.12641a"]]},{"id":"94c61b91.88c228","type":"debug","z":"f913bd83.2d754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":40,"wires":[]},{"id":"34d12550.12641a","type":"function","z":"f913bd83.2d754","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Email:msg.payload.email,\n    Password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":120,"wires":[["2bc870f3.11e72"]]},{"id":"2bc870f3.11e72","type":"cloudant out","z":"f913bd83.2d754","name":"","cloudant":"","database":"sample","service":"node-red-dmhuc-2020--cloudant-1597403135667-27998","payonly":true,"operation":"insert","x":430,"y":120,"wires":[]},{"id":"8b33f8a4.62e6a8","type":"ui_form","z":"f913bd83.2d754","name":"","label":"","group":"95540957.e616b8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email:","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["4698ac84.f73d44"]]},{"id":"4698ac84.f73d44","type":"function","z":"f913bd83.2d754","name":"","func":"global.set('email',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["3cdead8d.6b7a02"]]},{"id":"3cdead8d.6b7a02","type":"function","z":"f913bd83.2d754","name":"","func":"var email=global.get('email');\nmsg.payload=\"email:\"+email;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["fc48a467.b7d2a8"]]},{"id":"fc48a467.b7d2a8","type":"cloudant in","z":"f913bd83.2d754","name":"","cloudant":"","database":"sample","service":"node-red-dmhuc-2020--cloudant-1597403135667-27998","search":"_idx_","design":"user","index":"user","x":600,"y":220,"wires":[["dc555834.9aae58"]]},{"id":"dc555834.9aae58","type":"function","z":"f913bd83.2d754","name":"","func":"if(msg.payload[0].Password==global.get('password'))\n{ \n    msg.payload='Login Successful!';\n} \nelse\n{\n    msg.payload='Login Failed!';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[["c2ffb490.f26268"]]},{"id":"1619580.a8a88a8","type":"debug","z":"f913bd83.2d754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":220,"wires":[]},{"id":"c2ffb490.f26268","type":"ui_text","z":"f913bd83.2d754","group":"95540957.e616b8","order":1,"width":0,"height":0,"name":"","label":"Login Status: ","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":300,"wires":[]},{"id":"f6c23e4f.a1ccf","type":"ui_form","z":"f913bd83.2d754","name":"","label":"","group":"ef4e1321.aceff","order":1,"width":0,"height":0,"options":[{"label":"User Input: ","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":340,"wires":[["23467338.e3338c"]]},{"id":"23467338.e3338c","type":"function","z":"f913bd83.2d754","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":340,"wires":[["9d1101fd.89659"]]},{"id":"9d1101fd.89659","type":"watson-conversation-v1","z":"f913bd83.2d754","name":"","workspaceid":"1527a586-80a3-4913-9134-62a78bdc238b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b32eca23-a200-449e-8cab-415eed047f8f","timeout":"","optout-learning":false,"x":420,"y":340,"wires":[["1156cd49.edd993"]]},{"id":"788d7c66.4ac1d4","type":"ui_text","z":"f913bd83.2d754","group":"ef4e1321.aceff","order":2,"width":"6","height":"8","name":"","label":"Bot Response: ","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":340,"wires":[]},{"id":"1156cd49.edd993","type":"function","z":"f913bd83.2d754","name":"","func":"msg.payload = msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":340,"wires":[["788d7c66.4ac1d4","73c38943.e85998"]]},{"id":"73c38943.e85998","type":"ui_audio","z":"f913bd83.2d754","name":"","group":"ef4e1321.aceff","voice":"","always":"","x":800,"y":420,"wires":[]}]